<div class="flex flex-column p-3" mat-elevation-z8>

 <h2>Monitoreo de envío</h2>

  <mat-tab-group animationDuration="350ms" >
    <mat-tab label="Pendiente">
      <div class="p-3">
        <app-delivery-pendiente></app-delivery-pendiente>
      </div>
    </mat-tab>
    <mat-tab label="En curso">
      <div class="p-3">
       <app-delivery-en-curso></app-delivery-en-curso>
      </div>
    </mat-tab>
    <mat-tab label="Entregado">
      <div class="p-3">
        <app-delivery-entregado></app-delivery-entregado>
      </div>
     
    </mat-tab>
    <mat-tab label="Flota Damasco">
      <div class="p-3">
        <app-delivery-damasco></app-delivery-damasco>
      </div>
     
    </mat-tab>
    <mat-tab label="Cancelado">
      <div class="p-3">
        <app-delivery-cancelado></app-delivery-cancelado>
      </div>
     
    </mat-tab>
  </mat-tab-group>


</div>
